<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <fieldset>
    <label for="username">Nom : 
      <input type="text"  formControlName="username"/>
    </label>
  </fieldset>

  <div formGroupName="credentials">
    <fieldset>
      <label for="mail"> mail :
        <input type="email"  formControlName="mail"/>
      </label>
    </fieldset>
  
    <fieldset>
      <label for="password"> password :
        <input type="password" formControlName="password"/>
      </label>
    </fieldset>
  </div>
  <div formGroupName="address">
    <fieldset>
      <label for="street"> street :
        <input type="text" formControlName="street"/>
      </label>
    </fieldset>
  
    <fieldset>
      <label for="zipcode"> zip Code :
        <input type="number" formControlName="zipcode"/>
      </label>
    </fieldset>
  
    <fieldset>
      <label for="city">city :
        <input type="text" formControlName="city"/>
      </label>
    </fieldset>
  </div>

  <button type="submit" [disabled]="!userForm.valid">Sign Up</button>
</form>

<div *ngFor="let user of users">
  <ul>
  <li>{{user.username}}</li>
  <li>{{user.mail}}</li>
  <li>{{user.street}}</li>
  <li> {{user.city}}</li>
  </ul>
</div>